#title{
    margin: 55px auto;
    color: black;
    font-family: Calibri;
    font-style: normal;
    font-weight: bold;
    text-align: center;
}

/*car floor request buttons*/
.button {
  display: block;
  margin: 50px auto;
  width: 250px;
  padding: 15px 30px;
  font-size: 100px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 50%;
  box-shadow: 0 9px #999;
}

.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
/*end car floor request buttons*/

/*progress bar*/
#myProgress {
  width: 100%;
  background-color: #ddd;
}

#myBar {
  width: 10%;
  height: 30px;
  background-color: #4CAF50;
  text-align: center;
  line-height: 30px;
  color: white;
}
/*end progress bar*/