.bg-1{
	margin-top: 40px;
	background-color: #474e5d; /* Dark Blue */
	color: white;
}

.bg-2{
	background-color: #474e5d; /* Dark Blue */
	color: black;
}

.img-responsive{
	margin: 0 auto 10px;
	width: 300px;
	height: 300px;
}

#title{
	padding-top: 70px;
	padding-bottom: 70px;
}

#age{
	font-size: 20px;
}