header
{
    height: 51px;
}

/*@media only screen and (max-width: 767px)
{
	.nav-content
	{
	    padding: 0;
	    position: absolute;
	    top: 0;
	    width: 100%;
	    height: 100%;
	    z-index: 9999;
	}
}*/