#container
{
  width: 950px;
  border: 2px solid black;
  padding: 10px;
  margin: auto;
}

#container h1
{ 
  color:black;
  font-family: Georgia;
  font-size: 160%;
}

#container h2
{
  color: black;
  font-family: Georgia;
  font-size: 125%;
}

#container p
{
  font-family: Georgia;
  font-size: 100%;
  line-height: 20px;
  text-align: justify;
  text-indent: 15px;
  }
#container span.mkunderlined
{
	color: purple;
	text-decoration: underline;
}

#container span.mkbold
{
	color: purple;
	font-weight: bold;
}	

#can
{
	font-weight: bold;
	color: green;
}

#hcs12
{
	font-weight: bold;
	color: green;
}
	
#container li
{
  font-size: 100%;
}

#container figcaption
{
  font-style: italic;
  font-size: 90%;
  text-align: center;
}

#container figure
{
	width: 800px;
  border: 2px solid green;
  border-radius: 25px 25px 25px 25px;
}

#container img
{
  border: 2px solid blue;
  box-shadow: -10px 10px 5px grey;
  height: 300px;
  display: block;
  margin: 0 auto;
}


