/* Extra-small screen (phones less than 768px) */
/* No media query since this is the default case for mobile first */
body { background-color: black; }
#color_me { background-color: white }

/* Small devices (tablets 768px and up */
@media (min-width:768px) {	/* Styling applied only if device width is GREATER than 768px */
	body { background-color: red }
	#color_me { background-color: white }
}

/* Medium devices (desktops 992px and up) */
@media (min-width: 992px) { /* Styling applied only if device width is GREATER than 992px */
	body { background-color: orange; }
	#color_me { background-color: white; }
}

/* Large devices (desktops 1200px and up) */
@media (min-width: 1200px) { /* Styling applied only if device width is greater than 1200px */
	body { background-color: yellow; }
	#color_me { background-color: white; }
}